
/* SECCIÓN VEHÍCULOS */
.vehiculos {
  padding: 80px 20px;
  background: #f9f9f9;
}

.vehiculo-card {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
   background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vehiculo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
}

.vehiculo-img {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  
}

.vehiculo-img img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 15px;
  border: none;
}


.vehiculo-info {
  flex: 1 1 400px;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vehiculo-info h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #d4af37;
  letter-spacing: 1px;
  line-height: 1.2;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.vehiculo-info ul {
  margin-top: 10px;
}


.vehiculo-info li {
  margin: 12px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.vehiculo-info li::before {
  content: '⭐';
  color: #000000;
  margin-right: 12px;
  font-size: 26px;
}

.btn {
  margin-top: 30px;
  margin-bottom: 10px; 
  padding: 14px 30px;
  background: linear-gradient(45deg, #ba9621, #c59f13);
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

  align-self: center;
}


@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.vehiculo-card {
  opacity: 0;
  animation: slideUp 0.8s ease forwards;
}

.vehiculo-card:nth-child(1) {
  animation-delay: 0.2s;
}

.vehiculo-card:nth-child(2) {
  animation-delay: 0.4s;
}

.vehiculo-card:nth-child(3) {
  animation-delay: 0.6s;
}

.vehiculo-card:nth-child(4) {
  animation-delay: 0.8s;
}



@media (max-width: 1024px) {
  .vehiculo-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .vehiculo-info {
    align-items: center;
  }

  .vehiculo-info h2 {
    font-size: 24px;
  }

  .btn {
    align-self: center;
  }
}


@media (max-width: 600px) {
  .vehiculo-card {
    padding: 20px;
    gap: 20px;
  }

  .vehiculo-info h2 {
    font-size: 20px;
    text-align: center;
  }

  .vehiculo-info li {
    font-size: 16px;
  }

  .btn {
    width: 100%;
    padding: 12px;
  }
}